.navContainer {
    /* border: 1px solid red; */
    width: 60vw;
    display: flex;
    justify-content: space-between;
}

.navContainer a {
    text-decoration-line: none;
    color: #7D7E80;
}

.navContainer a:hover {
   color: #E6B822
}